@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Tektur:wght@400;500;600;700;800;900&display=swap');

body{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  background-color: #e9e5e2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7a685c #E9E5E2;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #E9E5E2;
}

*::-webkit-scrollbar-track:hover {
  background-color: #E0DCD9;
}

*::-webkit-scrollbar-track:active {
  background-color: #E0DCD9;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #7a685c;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #B2AAA3;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #CAC0B9;
}

